<div class="background-form-login">
  <div class="container-form-password">
   <h2> Need to change your player infos ?</h2>
      <%= simple_form_for @user, url: profile_path do |f| %>
    <div class="form-inputs-sign-up">
      <div class="form-block">
         <%= f.input :username, required: true,
                      label: false,
                      placeholder: "Username",
                      autofocus: true,
                      input_html: { autocomplete: "Your username" } %>

        <%= f.input :city_location, required: true,
                    label: false,
                    placeholder: "Your city",
                    autofocus: true,
                    input_html: { autocomplete: "Your City" } %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "UPDATE YOUR PROFILE", class: "btn-form-sign-up" %>
    </div>
  </div>
  <% end %>
</div>

