<div class="container">
  <div class="row center-row">
    <% User::Badge.all.each do |badge| %>
      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="list">
          <div class="container-badges">
              <div class="<%="#{@user.badges.include?(badge.id) ? 'badge-won' : 'badge-not-won'}"%>">
                <%= image_tag "profile/badges/#{badge.id}.svg", title: badge.description %>
              </div>
          </div>
          <div class="explanation">
            <p><%= "#{badge.explanation}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


