.wraper-index {
  background-color: rgba(136, 223, 215, 0.52);
}

.custom-container {
  height: 90vh;
  display: flex;
  align-items: center;
}

.center-row {
  width: 100%;
  margin: 0 auto;
}

.plants-shelf {
  display: flex;
  border-bottom: 1em solid #D4B483;
  border-radius: 6px;
  justify-content: space-around;
  align-items: flex-end;
  box-shadow: 0 9px 6px -6px grey;
  margin-top: 10px;
  height: 27vh;
  position: relative;
}


.plant-index svg {
  align-self: flex-end;
  margin-bottom: -10px;
  height: 23vh;
  width: auto;
}

.plant-index:hover {
  cursor: pointer;
  animation: plant-bounce 0.4s ease;
  animation-iteration-count: 1;
}

@keyframes plant-bounce {
  0% { transform: translateY(0); }
  40% { transform: translateY(-20px); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.books {
  height: 100px;
  align-self: flex-end;
  margin-bottom: -4px;
}

.drink {
  height: 60px;
  align-self: flex-end;
  margin-bottom: -6px;
  left: 5px;
}

.pot {
  height: 100px;
  align-self: flex-end;
  margin-bottom: -8px;
}


.pot:hover {
  cursor: pointer;
  animation: plant-bounce 0.4s ease;
  animation-iteration-count: 1;
}

// .plant-index-ficus:hover {
//   cursor: pointer;
//   animation: plant-bounce 0.3s ease;
//   animation-iteration-count: 1;
// }

#mouth #Fill-94, #mouth #Fill-95 {
 animation: wide2 0.75s infinite;

}

#drop-white, #drop-blue {
 animation: drop 1.5s infinite;
}


@keyframes wide2{
  from {
    transform: scaleY(0.75);
  }
  25% {
     transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.1);
  }
  75% {
     transform: scaleY(1);
  }
  to {
    transform: scaleY(0.75);
  }
}


@keyframes drop {
  from {
    transform: translateY(0);
  }
  10% {
    transform: translateY(5px);
  }

  15% {
    transform: translateY(7px);
  }

  20% {
    transform: translateY(10px);
  }

  to {
    transform: translateY(100px);
  }
}

#heart #Fill-60, #heart #Fill-61, #heart #Fill-62, #heart #Fill-63, #heart #Fill-64, #heart #Fill-65 {
  animation: scale 0.7s infinite;
}

#smile #Fill-315, #smile #Fill-314, #smile #Fill-313, #smile #Fill-312 {
  animation: wide 0.7s infinite;

}


@keyframes wide {
  from {
    transform: scaleY(0.75);
  }
  25% {
     transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.50);
  }
  75% {
     transform: scaleY(1);
  }
  to {
    transform: scaleY(0.75);
  }
}

@keyframes scale {
  from {
     transform: scale(1);
  }
  50% {
    transform: scale(1.5) translateX(-10px) translateY(-10px);
  }
  to {
    transform: scale(1);
  }
}







