
.list{
  align-items: center;
  margin-bottom: 10px;
}

.container-custom-profile {
  width: 80%;
}

.container-badges {
  display: flex;
  // align-items: center;
  justify-content: space-around;
  height: 110px;
  // flex-direction: column;
  // margin-bottom: 4%;
  // border-radius: 50%;
  img {
    height: 100%;
  }
}
.explanation {
  text-align: center;
  font-size: 10px;
  margin-top: -20px;
}

.badge-won {


  border-radius: 50%;
  cursor: help;

  height: 80px;
  width: 80px;

  // background-color: yellow;
  box-shadow: 0 9px 6px -6px grey;
  //margin-top: 10px;
  //margin-bottom: 10px;

  padding: 10px;

  z-index: 1;
  animation: pulse 2s infinite;
}

.badge-won:hover {
  transform: scale(1.3);
  transition-duration: 0.3s;
}

.badge-not-won {

  height: 80px;
  width: 80px;

  filter: grayscale(100%);
  // border-radius: 50%;
  //background-color: lightgrey;
  //box-shadow: 0 9px 6px -6px grey;
  //margin-top: 10px;
  //margin-bottom: 10px;
  z-index: 1;
  border: 10px solid transparent;
}

.badge-not-won:hover {
  transform: scale(1.3);
  transition-duration: 0.3s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 3px rgba(50, 183, 150, 0.8);
  }
  50% {
      box-shadow: 0 0 0 10px rgba(50, 183, 150, 0.2);
  }
  100% {
      box-shadow: 0 0 0 3px rgba(50, 183, 150, 0.8);
  }
}

/* Popup box BEGIN */
.hover_bkgr_fricc {
    background: rgba(136, 223, 215, 0.52);
    cursor:pointer;
    display: none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    left: 0;
    width:100%;
    z-index:10000;
}

.hover_bkgr_fricc .helper {
    display:inline-block;
    height:100%;
    vertical-align: middle;
}

.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 300px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    font-size: 18px;
    position: relative;
    border-radius: 8px;
    padding: 10% 5%;
}

// .popupCloseButton {
//     background-color: #fff;
//     border: 3px solid #999;
//     border-radius: 50px;
//     cursor: pointer;
//     display: inline-block;
//     font-family: arial;
//     font-weight: bold;
//     position: absolute;
//     top: -20px;
//     right: -20px;
//     font-size: 25px;
//     line-height: 30px;
//     width: 30px;
//     height: 30px;
//     text-align: center;
// }


// .popupCloseButton:hover {
//     background-color: #ccc;
// }

.trigger_popup_fricc {
    cursor: pointer;
}
/* Popup box BEGIN */
