<div class="player-score">
  <div class="tox-progress" data-size="50" data-thickness="10" data-color="#4AB2AE" data-background="#FFFFFF" <!-- data-progress="<%= (current_user.score.fdiv(3000)* 100).to_i %>" data-speed="5000">

    <div class="tox-progress-content" data-vcenter="true" style="display: flex; align-items: center;top: -180px;width:180px;height:180px;">
      <%= image_tag("http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar") %>
    </div>
  </div>
  <p style= "padding-left: 10px"><%= current_user.score %> pts / 3000</p>

</div>


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        ToxProgress.create();
        ToxProgress.animate();
    });
</script>



