.background-form-login-sign-up {
  background-color: rgb(250,250,250);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  min-height:100%;
}

.container-form-sign-up {
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
   h2 {
  text-align: center;
  font-weight: lighter;
  padding-bottom: 30px;
  color: grey;
  font-size: 18px;
  }
}
.container-form-sign-up {
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
   h2 {
  text-align: center;
  font-weight: lighter;
  padding-bottom: 30px;
  color: grey;
  font-size: 18px;
  }
}

.form-inputs-sign-up {
 border-radius: 30px;
 display: flex;
 justify-content: space-around;
}

.form-block {
  display:inline-block;
}


.form-actions {
  display: flex;
  justify-content: space-around;
  .btn-form-sign-up {
    background-color: $green;
    font-weight: lighter;
    width: 200px;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.btn-form-sign-up:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
  transform: scale(1.05,1.05);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.05);
  cursor:pointer;
  transition: all 0.2s;
}
