/* Main navbar */
.navbar-gardener {
  top: 0 !important;
  z-index: 99;
  //transition: all 0.3s ease;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

/* links on the right of the navbar */
.navbar-gardener > a {
  padding: 0 5%;
}

.avatar-gardener {
  cursor: pointer;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  margin: auto;
  background-color: white;
  border: 8px solid white;
}

.player {
  padding: 0 5%;
  display: flex;
  align-items: center;
}

.player-level p {
  margin-left: 15px;
  margin-bottom: 0;
  font-size: 15px;
  color: black;
}

.player-score p {
  font-weight: lighter;
  font-size: 13px;
}
