/* Main navbar */
.navbar-gardener {
  top: 0 !important;
  z-index: 50;
  //transition: all 0.3s ease;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

/* links on the right of the navbar */
.navbar-gardener > a {
  padding: 0 5%;
}

.player-all{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
}

.player-score {
  //padding: 0 5%;
}

.avatar-gardener {
  //cursor: pointer;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: auto;
  background-color: white;
  //border: 8px solid white;
}

.player {
  //padding: 0 5%;
  //display: flex;
  align-items: center;
  text-align: center;
}

.player-level p {
  font-size: 15px;
  margin: 0;
  color: black;
}

.player-score p {
  font-weight: lighter;
  font-size: 8px;
}
