// .edit_icone {
//   width: 18%;
//   height: 18%;
// }

.container-show {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 130px);
  //border-radius: 15px;
  background-color: #F0F8FF;
}

.tasks-box {
  // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
  border: 3px solid black;

  position:relative;
  height: 20%;
  width: 80%;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  background: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;

}


.task-message{
  font-size: 20px;

}

.task-message svg{
  position: absolute;
  max-width: 70%;
  max-height: 70%;
  bottom: -45%;
  right: 20%;
  border-radius: 50%;
  border: 3px solid green;
  padding: 1%;
  background-color: white;

}

// .task-message:hover {
//   cursor: pointer;
//   animation: icone-bounce 0.4s ease;
//   animation-iteration-count: 1;
// }

// @keyframes icone-bounce {
//   0% { transform: translateY(0); }
//   40% { transform: translateY(-20px); }
//   80% { transform: translateY(0); }
//   100% { transform: translateY(0); }
// }



.plant-box {

  height: 63%;
  width: 94%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  // background-color: blue;
  top: 25%;
  text-align: center;

}

.plant-box svg {
  height: 100%;
}


.name-box {
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  height: 17%;
  width: 94%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  background-color: green;
  top: 85%;

}

.plant-name {
font-weight: bold;
font-size: 25px
}



.plant-life{

}






.progress-bar {
    width: 300px;
    height: 28px;
    background-color: white;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #F68712;
    box-shadow: inset 0 1px 2px #F68702;;
}


.progress-bar:before {
    content: 'name ou nb pv';
    display: block;
    width: 200px;
    height: 24px;
    background: #F68700;
    border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
